h2 {
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
}

button {
  padding: 4px;
  background-color: #FF6666;
  color: aliceblue;
  font-weight: 900;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .50);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .50);
}