body {
  margin: 0;
  font-family: "Fira Code", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  background-color: #33eeff;
  color: #ff0000;
  padding: 30px;
}
